@use "./fonts";

%margin-reset {
  margin: 0;
}

%padding-reset {
  padding: 0;
}

%margin-padding-reset {
  margin: 0;
  padding: 0;
}

%reset-ul-list {
  ul {
    padding: 0;

    li {
      list-style-type: none;
    }
  }
}

%BaliAbba-header {
  text-align: center;
  font-family: "Inter";
  font-size: 22px;
}

%bread-text {
  font-family: "Roboto";
  font-size: 19px;
}
