$header-background: #ffffff;
$main-header-logo-color: #000000cc;
$main-header-border-color: #00000044;

$loading-border-top: #19b2b889;

$featured-products-background: #cbe8eb44;

$featured-product-card-background: #fef8f899;

$sup-category-card-background: #5c5a5a88;

$product-details-background: #eeebeb99;

$product-details-brand-color: #0aedf5;

$product-details-border-color: #80808033;

$product-details-btn-background: #b3aeae;

$product-details-bar-background: #b3aeae22;

$add-to-cart-color: #ffffffd2;
$add-to-cart-background: #0c6e0c;

$footer-background: #f6f6f6;
