$header-background: #ffffff;
$main-header-logo-color: #000000cc;
$main-header-border-color: #00000044;

$loading-border-top: #19b2b889;

$featured-products-background: #cbe8eb44;

$featured-product-card-background: #fef8f899;

$sup-category-card-background: #5c5a5a88;

$footer-background: #f6f6f6;
