@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
.product-detail-card .product-details .product-price .buy-container .price-container h3, .product-detail-card .product-details .product-specifications .specifications-container .specs-bar h5, .product-detail-card .product-details .product-specifications .specifications-container .specs-extra-bar .specs-list li h5 {
  margin: 0;
}

.product-detail-card .product-details .product-specifications .specifications-container .specs-extra-bar .specs-list {
  margin: 0;
  padding: 0;
}

.main-footer .contact-info ul, .main-footer .faq-article ul {
  padding: 0;
}
.main-footer .contact-info ul li, .main-footer .faq-article ul li {
  list-style-type: none;
}

.supcategory-container header h2, .product-detail-card .product-details .product-price .purchase-container #buy-btn, .product-detail-card .product-details .product-description .description-header h4, .product-detail-card .product-details .product-specifications .specs-header h4, .main-footer .footer-header h3 {
  text-align: center;
  font-family: "Inter";
  font-size: 22px;
}

.main-header .searchbar-container .searchbar::-moz-placeholder {
  font-family: "Roboto";
  font-size: 19px;
}

.main-header .searchbar-container .searchbar:-ms-input-placeholder {
  font-family: "Roboto";
  font-size: 19px;
}

.supcategory-container .cards-container .sup-category .sup-category-header h3, .product-detail-card .product-details .producer-info, .product-detail-card .product-details .product-user-info, .product-detail-card .product-details .product-description .product-description-container p, .products-container, .main-footer .footer-header p, .main-footer .contact-info, .main-footer .faq-article, .main-header .searchbar-container .searchbar::placeholder {
  font-family: "Roboto";
  font-size: 19px;
}

.product-detail-card .product-header .like-btn, .product-detail-card .product-header .btns-container .image-btn, .product-detail-card .product-details .product-price .purchase-container #buy-btn {
  border: 0;
  background: transparent;
}

.main-header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0.3rem;
  position: fixed;
  top: 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2666666667);
  width: 100%;
  padding-left: 0.6rem;
  z-index: 99;
  background: #ffffff;
}
.main-header .image-container .mobile-header-logo {
  width: 16vw;
  padding: 0rem 0.3rem;
}
.main-header .image-container .desktop-header-logo {
  display: none;
}
.main-header .searchbar-container .searchbar {
  position: relative;
  padding: 0.3rem 0.2rem;
  border-radius: 6px;
  border: 1px solid rgba(0, 0, 0, 0.2666666667);
}
.main-header .searchbar-container .search-icon {
  width: 5vw;
  position: absolute;
  top: 30%;
  right: 36%;
}
.main-header .icons-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}
.main-header .icons-container img {
  width: 10vw;
}

#hamburger {
  display: block;
  padding-right: 1.4rem;
}
#hamburger .bar {
  display: block;
  margin: 4px 2px;
  width: 24px;
  height: 3px;
  background: rgba(0, 0, 0, 0.8);
  border-radius: 6px;
}

.main-footer {
  border-top: 1px solid rgba(0, 0, 0, 0.2666666667);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.7rem;
  background: #f6f6f6;
}
.main-footer .footer-header {
  padding: 0rem 0.7rem;
  text-align: center;
}
.main-footer .contact-info {
  border-top: 1px solid rgba(0, 0, 0, 0.2666666667);
  width: 80%;
  text-align: center;
}
.main-footer .faq-article {
  border-top: 1px solid rgba(0, 0, 0, 0.2666666667);
  width: 60%;
  text-align: center;
}

@-webkit-keyframes loadingSpin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes loadingSpin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.animation-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.animation-container .animation-box {
  display: block;
  width: 40vw;
  height: 40vw;
  border: 12px solid rgba(0, 0, 0, 0.8);
  border-top: 12px solid rgba(25, 178, 184, 0.537254902);
  border-radius: 50%;
  -webkit-animation: loadingSpin 1.2s infinite linear;
          animation: loadingSpin 1.2s infinite linear;
}

.products-container {
  background: rgba(203, 232, 235, 0.2666666667);
}
.products-container .featured-header {
  margin-top: 3.2rem;
  text-align: center;
}
.products-container .featured-header h4 {
  margin-bottom: 0rem;
}
.products-container .featured-product-cards {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 0.7rem;
  overflow-x: auto;
  overflow-y: hidden;
}
.products-container .featured-product-cards .featured-product {
  border: 2px solid rgba(221, 221, 221, 0.5333333333);
  border-radius: 4px;
  text-align: center;
  background: rgba(254, 248, 248, 0.6);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  max-height: 24vh;
}
.products-container .featured-product-cards .featured-product .figure-header img {
  width: 26vw;
  height: 10vh;
  max-height: 24vh;
  -o-object-fit: cover;
     object-fit: cover;
}
.products-container .featured-product-cards .featured-product .figure-header h3 {
  font-size: 18px;
}

.product-detail-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.6rem;
}
.product-detail-card .product-header {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}
.product-detail-card .product-header .like-btn {
  position: absolute;
  top: 8%;
  right: 7%;
  font-size: 28px;
  color: #b3aeae;
}
.product-detail-card .product-header .btns-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.product-detail-card .product-header .btns-container .image-btn {
  display: block;
  background: #b3aeae;
  width: 15px;
  height: 15px;
  border-radius: 50%;
}
.product-detail-card .product-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 0.5rem;
  background: rgba(238, 235, 235, 0.6);
  padding: 0.3rem 0.6rem;
}
.product-detail-card .product-details .producer-info {
  border-bottom: 2px solid rgba(128, 128, 128, 0.2);
  width: 100%;
}
.product-detail-card .product-details .producer-info .product-brand {
  color: #0aedf5;
}
.product-detail-card .product-details .product-user-info {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  gap: 0.5rem;
  font-size: 16px;
}
.product-detail-card .product-details .product-user-info .stock-header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0.7rem;
}
.product-detail-card .product-details .product-price .buy-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 0.5rem;
}
.product-detail-card .product-details .product-price .buy-container .amount-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}
.product-detail-card .product-details .product-price .buy-container .price-container {
  position: relative;
}
.product-detail-card .product-details .product-price .buy-container .price-container p {
  font-size: 12px;
  position: absolute;
  right: 2%;
  top: -110%;
}
.product-detail-card .product-details .product-price .purchase-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}
.product-detail-card .product-details .product-price .purchase-container #buy-btn {
  font-size: 20px;
  background: #0c6e0c;
  color: rgba(255, 255, 255, 0.8235294118);
  padding: 0.4rem 0.7rem;
  border-radius: 6px;
}
.product-detail-card .product-details .product-price .purchase-container .warinty-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}
.product-detail-card .product-details .product-description .description-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 0.5rem;
}
.product-detail-card .product-details .product-description .description-header h4 {
  font-size: 17px;
}
.product-detail-card .product-details .product-description .description-header .arrow-icon {
  width: 10vw;
}
.product-detail-card .product-details .product-description .description-header .arrow-icon.rotate-arrow {
  transform: rotate(180deg);
}
.product-detail-card .product-details .product-description .product-description-container.hide-description {
  display: none;
}
.product-detail-card .product-details .product-specifications .specs-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 0.5rem;
}
.product-detail-card .product-details .product-specifications .specs-header h4 {
  font-size: 17px;
}
.product-detail-card .product-details .product-specifications .specs-header .specs-arrow-icon {
  width: 10vw;
}
.product-detail-card .product-details .product-specifications .specs-header .specs-arrow-icon.rotate-arrow {
  transform: rotate(180deg);
}
.product-detail-card .product-details .product-specifications .specifications-container.hide-specifications {
  display: none;
}
.product-detail-card .product-details .product-specifications .specifications-container .specs-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 0.5rem;
  padding: 0rem 0.3rem;
}
.product-detail-card .product-details .product-specifications .specifications-container .specs-bar:nth-child(2n+1) {
  background: rgba(179, 174, 174, 0.1333333333);
}
.product-detail-card .product-details .product-specifications .specifications-container .specs-extra-bar {
  padding: 0rem 0.3rem;
}
.product-detail-card .product-details .product-specifications .specifications-container .specs-extra-bar .specs-list {
  padding: 0rem 0.5rem;
}
.product-detail-card .product-details .product-specifications .specifications-container .specs-extra-bar .specs-list li {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 0.5rem;
  padding: 0rem 0.3rem;
}
.product-detail-card .product-details .product-specifications .specifications-container .specs-extra-bar .specs-list li:nth-child(2n+1) {
  background: rgba(179, 174, 174, 0.1333333333);
}

.supcategory-container {
  text-align: center;
}
.supcategory-container .cards-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 0.7rem;
  overflow-x: auto;
}
.supcategory-container .cards-container .sup-category .sup-category-header {
  position: relative;
}
.supcategory-container .cards-container .sup-category .sup-category-header h3 {
  color: #ffffff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 32px;
}
.supcategory-container .cards-container .sup-category .sup-category-header img {
  background: rgba(92, 90, 90, 0.5333333333);
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
}

.main-container {
  margin: 0 auto;
  padding: 0;
  font-family: sans-serif, Arial, Helvetica;
}