.main-footer .contact-info ul, .main-footer .faq-article ul {
  padding: 0;
}
.main-footer .contact-info ul li, .main-footer .faq-article ul li {
  list-style-type: none;
}

.main-header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0.3rem;
  position: fixed;
  top: 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2666666667);
  width: 100%;
}
.main-header .image-container .mobile-header-logo {
  width: 16vw;
  padding: 0rem 0.3rem;
}
.main-header .image-container .desktop-header-logo {
  display: none;
}
.main-header .icons-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

#hamburger {
  display: block;
}
#hamburger .bar {
  display: block;
  margin: 4px 2px;
  width: 24px;
  height: 3px;
  background: rgba(0, 0, 0, 0.8);
  border-radius: 6px;
}

.main-footer {
  border-top: 1px solid rgba(0, 0, 0, 0.2666666667);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.7rem;
  position: absolute;
  bottom: 0;
}
.main-footer .footer-header {
  text-align: center;
}
.main-footer .contact-info {
  border-top: 1px solid rgba(0, 0, 0, 0.2666666667);
  width: 80%;
  text-align: center;
}
.main-footer .faq-article {
  border-top: 1px solid rgba(0, 0, 0, 0.2666666667);
  width: 60%;
  text-align: center;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
}

.main-container {
  margin: 0 auto;
  padding: 0;
  font-family: sans-serif, Arial, Helvetica;
}