@use "../../helpers/variables" as v;
@use "../../helpers/mixins" as m;
@use "../../helpers/placeholders";

.main-header {
  @include m.flexBox(row, center, center, 0.3rem);
  position: fixed;
  top: 0;
  border-bottom: 1px solid v.$main-header-border-color;
  width: 100%;

  .image-container {
    .mobile-header-logo {
      width: 16vw;
      padding: 0rem 0.3rem;
    }

    .desktop-header-logo {
      display: none;
    }
  }

  .icons-container {
    @include m.flexBox(row, center, center, 0.5rem);
  }
}
